APU.AccesoDatos/APU.Negocio/Connected Services/WS_Gasolutions/Gasolutions3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/APU.Entidad" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/APU.Entidad" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVentaGasolutionsInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VentaGasolutionsInfo" nillable="true" type="tns:VentaGasolutionsInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVentaGasolutionsInfo" nillable="true" type="tns:ArrayOfVentaGasolutionsInfo" />
  <xs:complexType name="VentaGasolutionsInfo">
    <xs:sequence>
      <xs:element name="_calculoIgv" type="xs:decimal" />
      <xs:element name="_codigoRespuesta" nillable="true" type="xs:string" />
      <xs:element name="_comprobanteImpreso" nillable="true" type="xs:string" />
      <xs:element name="_departamentoEmisor" nillable="true" type="xs:string" />
      <xs:element name="_descuento" type="xs:decimal" />
      <xs:element name="_direccionEmisor" nillable="true" type="xs:string" />
      <xs:element name="_direccionReceptor" nillable="true" type="xs:string" />
      <xs:element name="_distritoEmisor" nillable="true" type="xs:string" />
      <xs:element name="_estado" nillable="true" type="xs:string" />
      <xs:element name="_estadoId" type="xs:int" />
      <xs:element name="_exito" type="xs:int" />
      <xs:element name="_fechaCreacion" type="xs:dateTime" />
      <xs:element name="_fechaEmision" type="xs:dateTime" />
      <xs:element name="_gravadas" type="xs:decimal" />
      <xs:element name="_idDocumento" nillable="true" type="xs:string" />
      <xs:element name="_mensajeError" nillable="true" type="xs:string" />
      <xs:element name="_mensajeRespuesta" nillable="true" type="xs:string" />
      <xs:element name="_moneda" nillable="true" type="xs:string" />
      <xs:element name="_monedaId" nillable="true" type="xs:string" />
      <xs:element name="_montoEnLetras" nillable="true" type="xs:string" />
      <xs:element name="_nombreArchivo" nillable="true" type="xs:string" />
      <xs:element name="_nombreComercialEmisor" nillable="true" type="xs:string" />
      <xs:element name="_nombreComercialReceptor" nillable="true" type="xs:string" />
      <xs:element name="_nombreLegalEmisor" nillable="true" type="xs:string" />
      <xs:element name="_nombreLegalReceptor" nillable="true" type="xs:string" />
      <xs:element name="_nroDocumentoEmisor" nillable="true" type="xs:string" />
      <xs:element name="_nroDocumentoReceptor" nillable="true" type="xs:string" />
      <xs:element name="_nroTicket" nillable="true" type="xs:string" />
      <xs:element name="_numeroFila" type="xs:int" />
      <xs:element name="_placaVehiculo" nillable="true" type="xs:string" />
      <xs:element name="_provinciaEmisor" nillable="true" type="xs:string" />
      <xs:element name="_simboloMoneda" nillable="true" type="xs:string" />
      <xs:element name="_tipoDocumento" nillable="true" type="xs:string" />
      <xs:element name="_tipoDocumentoEmisor" nillable="true" type="xs:string" />
      <xs:element name="_tipoDocumentoReceptor" nillable="true" type="xs:string" />
      <xs:element name="_totalFilas" type="xs:int" />
      <xs:element name="_totalIgv" type="xs:decimal" />
      <xs:element name="_totalVenta" type="xs:decimal" />
      <xs:element name="_ubigeoEmisor" nillable="true" type="xs:string" />
      <xs:element name="_ventaGasolutionsId" type="xs:int" />
      <xs:element name="_x003C_Item_x003E_k__BackingField" nillable="true" type="tns:VentaDetalleGasolutionsInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VentaGasolutionsInfo" nillable="true" type="tns:VentaGasolutionsInfo" />
  <xs:complexType name="VentaDetalleGasolutionsInfo">
    <xs:sequence>
      <xs:element name="_cantidad" type="xs:decimal" />
      <xs:element name="_codigoItem" nillable="true" type="xs:string" />
      <xs:element name="_descripcion" nillable="true" type="xs:string" />
      <xs:element name="_fechaCreacion" type="xs:dateTime" />
      <xs:element name="_id" type="xs:int" />
      <xs:element name="_impuesto" type="xs:decimal" />
      <xs:element name="_precioUnitario" type="xs:decimal" />
      <xs:element name="_tipoImpuesto" nillable="true" type="xs:string" />
      <xs:element name="_tipoPrecio" nillable="true" type="xs:string" />
      <xs:element name="_totalVenta" type="xs:decimal" />
      <xs:element name="_unidadMedida" nillable="true" type="xs:string" />
      <xs:element name="_ventaDetalleGasolutionsId" type="xs:int" />
      <xs:element name="_ventaGasolutionsId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VentaDetalleGasolutionsInfo" nillable="true" type="tns:VentaDetalleGasolutionsInfo" />
</xs:schema>