APU.AccesoDatos/APU.Gasolutions/Connected Services/WS_Gasolutions.Local/Gasolutions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicioGasFE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicioGasFE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Documento">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoNotaCreditoDebito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DireccionAdquirente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentoAfectado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaEmision" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Item" nillable="true" type="tns:ArrayOfItem" />
      <xs:element minOccurs="0" name="Leyenda" nillable="true" type="tns:ArrayOfLeyenda" />
      <xs:element minOccurs="0" name="MotivoSustento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreAdquirente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numeracion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDocumentoAdquirente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operacion" nillable="true" type="tns:ArrayOfOperacion" />
      <xs:element minOccurs="0" name="OtrosCargos" type="xs:decimal" />
      <xs:element minOccurs="0" name="Recaudos" nillable="true" type="tns:ArrayOfRecaudo" />
      <xs:element minOccurs="0" name="RucEmisor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDocumento" type="xs:int" />
      <xs:element minOccurs="0" name="TipoDocumentoAdquirente" type="xs:int" />
      <xs:element minOccurs="0" name="TipoDocumentoAfectado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoMoneda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalVenta" type="xs:decimal" />
      <xs:element minOccurs="0" name="Tributos" nillable="true" type="tns:ArrayOfTributo" />
      <xs:element minOccurs="0" name="Venta" nillable="true" type="tns:ArrayOfVenta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Documento" nillable="true" type="tns:Documento" />
  <xs:complexType name="ArrayOfItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem" nillable="true" type="tns:ArrayOfItem" />
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoProducto" type="xs:int" />
      <xs:element minOccurs="0" name="Importe" type="xs:decimal" />
      <xs:element minOccurs="0" name="Monto" type="xs:decimal" />
      <xs:element minOccurs="0" name="Placa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecioUnitario" type="xs:decimal" />
      <xs:element minOccurs="0" name="TipoOperacion" type="xs:int" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorUnitario" type="xs:decimal" />
      <xs:element minOccurs="0" name="cantidadItem" type="xs:decimal" />
      <xs:element minOccurs="0" name="descripcionItem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descuentoItem" type="xs:decimal" />
      <xs:element minOccurs="0" name="igvItem" type="xs:decimal" />
      <xs:element minOccurs="0" name="numeroItem" type="xs:long" />
      <xs:element minOccurs="0" name="unidadItem" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
  <xs:complexType name="ArrayOfLeyenda">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Leyenda" nillable="true" type="tns:Leyenda" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLeyenda" nillable="true" type="tns:ArrayOfLeyenda" />
  <xs:complexType name="Leyenda">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoLeyenda" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Leyenda" nillable="true" type="tns:Leyenda" />
  <xs:complexType name="ArrayOfOperacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Operacion" nillable="true" type="tns:Operacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOperacion" nillable="true" type="tns:ArrayOfOperacion" />
  <xs:complexType name="Operacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Monto" type="xs:decimal" />
      <xs:element minOccurs="0" name="TipoOperacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Operacion" nillable="true" type="tns:Operacion" />
  <xs:complexType name="ArrayOfRecaudo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Recaudo" nillable="true" type="tns:Recaudo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecaudo" nillable="true" type="tns:ArrayOfRecaudo" />
  <xs:complexType name="Recaudo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Financiera" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Monto" type="xs:decimal" />
      <xs:element minOccurs="0" name="Porcentaje" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Recaudo" nillable="true" type="tns:Recaudo" />
  <xs:complexType name="ArrayOfTributo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tributo" nillable="true" type="tns:Tributo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTributo" nillable="true" type="tns:ArrayOfTributo" />
  <xs:complexType name="Tributo">
    <xs:sequence>
      <xs:element minOccurs="0" name="TipoTributo" type="xs:int" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tributo" nillable="true" type="tns:Tributo" />
  <xs:complexType name="ArrayOfVenta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Venta" nillable="true" type="tns:Venta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVenta" nillable="true" type="tns:ArrayOfVenta" />
  <xs:complexType name="Venta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cara" type="xs:int" />
      <xs:element minOccurs="0" name="FechaHora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaProximoMantenimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaRevisionCilindro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Isla" type="xs:int" />
      <xs:element minOccurs="0" name="Manguera" type="xs:int" />
      <xs:element minOccurs="0" name="MaquinaRegistradora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recibo" type="xs:long" />
      <xs:element minOccurs="0" name="Turno" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Venta" nillable="true" type="tns:Venta" />
  <xs:complexType name="RespuestaFacturacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="MensajeError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SolicitudProcesada" type="xs:boolean" />
      <xs:element minOccurs="0" name="ValorFirma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorResumen" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaFacturacion" nillable="true" type="tns:RespuestaFacturacion" />
</xs:schema>